<!DOCTYPE html>
<html>
<head>
  <title>Logging In - CSRF Tokens - Invalid</title>
  <style type="text/css">
    body {
      padding: 0 10px;
    }

    h3 {
      color: red;
    }

  </style>
</head>
<body>
  <h2>csrf.html</h2>
  <h3>The CSRF token was invalid.</h3>
</body>
</html>
