body {
  color: #333;
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 1.2em;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.places {
  border-left: solid 1px #d7d7d7;
  border-top: solid 1px #d7d7d7;
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  width: 201px;
  height: 201px;
}

.places li {
  border-right: solid 1px #d7d7d7;
  border-bottom: solid 1px #d7d7d7;
  width: 66px;
  height: 66px;
}

.pieces li {
  background: url('cypress-logo.png') no-repeat;
  position: absolute;
  width: 67px;
  height: 67px;
}

.pieces .piece-1  { background-position:      0      0; left:  20px; top:  20px; }
.pieces .piece-2  { background-position:  -67px      0; left:  20px; top: 100px; }
.pieces .piece-3  { background-position: -134px      0; left:  20px; top: 180px; }
.pieces .piece-4  { background-position:      0  -67px; left: 100px; top:  20px; }
.pieces .piece-5  { background-position:  -67px  -67px; left: 100px; top: 100px; }
.pieces .piece-6  { background-position: -134px  -67px; left: 100px; top: 180px; }
.pieces .piece-7  { background-position:      0 -134px; left: 180px; top:  20px; }
.pieces .piece-8  { background-position:  -67px -134px; left: 180px; top: 100px; }
.pieces .piece-9  { background-position: -134px -134px; left: 180px; top: 180px; }
.pieces .piece-10 { background-position: -100px -120px; left: 260px; top:  20px; }
.pieces .piece-11 { background-position:  -10px  -20px; left: 260px; top: 100px; }
.pieces .piece-12 { background-position: -110px      0; left: 260px; top: 180px; }
