<!doctype html>
<html data-framework="vue">
  <head>
    <meta charset="utf-8">
    <title>Vue.js • TodoMVC</title>
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap-3.3.7.min.css"/>
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap-vue-1.5.1.css"/>
    <link rel="stylesheet" href="vendor/todomvc-app-css-2.0.4.css">
    <style>[v-cloak] { display: none; }</style>
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input class="new-todo"
          autofocus autocomplete="off"
          placeholder="What needs to be done?"
          :value="newTodo"
          @input="setNewTodo"
          @keyup.enter="addTodo"
          >
      </header>
      <section class="main" v-show="todos.length" v-cloak>
        <ul class="todo-list">
          <li v-for="todo in todos"
            class="todo"
            :key="todo.id"
            :class="{ completed: todo.completed }">
            <div class="view">
              <input class="toggle" type="checkbox" v-model="todo.completed">
              <label>{{ todo.title }}</label>
              <button class="destroy" @click="removeTodo(todo)"></button>
            </div>
          </li>
        </ul>
      </section>
      <section class="file-upload">
        <p>
          <center>Upload JSON file with Todo items</center>
        </p>
        <b-form-file id="todo-file-upload" accept=".json"
          v-model="file" @change="uploadTodos"></b-form-file>
      </section>
    </section>
    <footer class="info">
      <p>Written by <a href="http://evanyou.me">Evan You</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <script src="vendor/babel-polyfill-6.26.0.min.js"></script>
    <script src="vendor/vue-2.5.5.js"></script>
    <script src="vendor/vuex-3.0.1.js"></script>
    <script src="vendor/axios-0.17.1.min.js"></script>
    <script src="vendor/bootstrap-vue-1.5.1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
