<!DOCTYPE html>
<html>
<head>
  <title>Logging In - HTML Web Form - Login</title>
  <style type="text/css">
    body {
      padding: 0 10px;
    }

    #form-wrapper {
      padding: 10px 20px;
      background-color: #eee;
    }

    #form-wrapper ul {
      list-style-type: none;
    }

    #form-wrapper li {
      margin: 10px 0;
    }

    .error {
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <p>
    This example has a regular HTML form that POSTs username and password to the node server.
  </p>
  <p>In this recipe we:</p>
  <ul>
    <li>Test that sessions (cookies) are properly sent</li>
    <li>Test form errors</li>
    <li>Show how to bypass the UI entirely to speed up your tests</li>
  </ul>
  <div id="form-wrapper">
    <form method="POST" action="/login">
      <ul>
        <li>
          <label>
            Username:
            <input name="username" />
          </label>
        </li>
        <li>
          <label>
            Password:
            <input name="password" />
          </label>
        </li>
        <li>
          <button type="submit">Submit</button>
        </li>
      </ul>
    </form>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</body>
</html>
