<!DOCTYPE html>
<html>
<head>
  <title>Logging In - HTML Web Form - Login</title>
  <style type="text/css">
    body {
      padding: 0 10px;
    }

    #form-wrapper {
      padding: 10px 20px;
      background-color: #eee;
    }

    ul {
      list-style-type: none;
    }

    li {
      margin: 10px 0;
    }

    .error {
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h2>login.html</h2>
  <p>
    This example has a regular HTML form that POSTs username and password to the node server.
  </p>
  <p>
    In this recipe we are going to test that sessions (cookies) are properly sent, we'll test form errors, and then show how you can bypass the UI entirely to speed up your tests.
  </p>
  <div id="form-wrapper">
    <form method="POST" action="/login_with_form">
      <ul>
        <li>
          <label>
            Username:
            <input name="username" />
          </label>
        </li>
        <li>
          <label>
            Password:
            <input name="password" />
          </label>
        </li>
        <li>
          <button type="submit">Submit</button>
        </li>
      </ul>
    </form>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</body>
</html>